.red {
    color: red;
}

.blue {
    color: black;
}

p.blue {
    color: blue;
}

p {
    color: black;
}

section {
    height: 40vh;
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
}